@using Microsoft.AspNetCore.Mvc.ViewFeatures
@inject IFileVersionProvider FileVersionProvider

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    @DxResourceManager.RegisterScripts()
    @DxResourceManager.RegisterTheme(Themes.Fluent)
    <link href=@AppendVersion("_content/DXBlazorHybrid.Shared/bootstrap/bootstrap.min.css") rel="stylesheet" />
    <link href=@AppendVersion("_content/DXBlazorHybrid.Shared/app.css") rel="stylesheet" />
    <link href=@AppendVersion("DXBlazorHybrid.Web.styles.css") rel="stylesheet" />
    <link href=@AppendVersion("_content/DXBlazorHybrid.Shared/favicon.png") rel="icon" type="image/png" />
    <HeadOutlet @rendermode="InteractiveAuto" />
</head>

<body class="dxbl-theme-fluent">
    <Routes @rendermode="InteractiveAuto" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>

@code {
    private string AppendVersion(string path) => FileVersionProvider.AddFileVersionToPath("/", path);
}